#editor {
    height: 300px;
}

DIV#container > UL {
  height: 100%;
  overflow-x: auto;
}

LI.file_node I.jstree-icon {
  background-position: -100px -69px;
}

#tabs li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
    cursor: pointer;
    visibility: hidden;
}

#tabs .file-changed {
    position: absolute;
    right: 20px;
    top: 7px;
}

#tabs {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    overflow: auto;
}

#tabs ul.ui-widget-header {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    height: 32px;
}

.ui-tabs .ui-tabs-nav li {
    margin-top: 3px;
}

DIV.tabpath {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

SPAN.icon {
    margin-right: 5px;
}

SPAN.icon IMG {
    vertical-align: bottom;
    max-height: 20px;
    max-width: 20px;
    margin: 2px 0;
}